/*=============================================================================*/
/* Global Elements, Providing Style to all Area's of Website
/*=============================================================================*/

/* Sets Web-page to maximum Width + Height of Window screen */
html {
    width: 100%;
    height: 100%;
}

/* Sets main colour to white + Coverts all text-font to "Roboto" */
* {
    color:white;
    font-family: 'Roboto';
    font-weight: 100;
}

/* Sets margin in body to 0, So that no random margin elements are added */
body {
    margin:0;
}

/* Creating a Value that will set Text elements to correct size */
small {
    font-size:10.5px;
}

/* Applies a Style to all Buttons to create a soft edge + makes cursor change to pointer */
button {
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

/*=============================================================================*/
/* Header Area
/*=============================================================================*/

.h-container { /* Holds together all Header Elements in a Row */
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
    i { /* Adding Style to i element */
        margin-right: 10px; 
        font-size:20px;
    }
    form { /* Converts "Form" into a container */
        margin-left: 25px;
        display:flex; 
        .btn-search { /* Adding Style to Button */
            background-color: #999aa2;
            width:50px;
            &:hover{ /* Creates a Hovering Event */
                background-color: #717277;
            }
        }
        i {
            margin-right: 0;
        }
    }
}

.r-container { /* Holds together all elements together in a Row */
    display: flex; 
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
}

.btn-contact { /* Creates a Style to Button */
    width: 150px; 
    background-color: #999aa2;
    margin-left: 25px;
    font-size: 18px;
    &:hover{ /* Hover Event: Change Buttons Colour */
        background-color: #717277;
    }
}

.btn-support {
    width: 150px;
    background-color: #427fd3;
    margin-left: 25px;
    font-size: 18px;
    &:hover{
        background-color: #1d63c5;
    }
}

.btn-menu { /* Creates a Style to Button (Just Displays Icon) */
    background-color: #333544; 
    margin-left: 25px;
    i {
        display: block;
        margin: auto;
    }
    &:hover{ /* Hover Event: Change Buttons Colour */
        background-color: #262730;
    }
}
/*=============================================================================*/
/*=============================================================================*/


/*=============================================================================*/
/* Navbar Area
/*=============================================================================*/

.n-container { /* Holds together all Navigational Bar elements */
    padding: 0; 
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    background: #333544;
    padding-left: 45px;
    padding-right: 45px;
      i { /* Adding Style to i element */
        display: block;
        margin: auto;
      }
      ul { /* Creates a Style to Navigational Bar Elements */
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        flex-direction: row;
      }
       
      li {
        width: 100%;
        display: block;
        font-size: 1.2em;
        border-left: 1px solid rgba(255,255,255,0.1);
        border-right: 1px solid rgba(145, 111, 111, 0.25);
      }
      
      li a {
        display: inline-block;
        padding: 14px 16px;
        text-decoration: none;
      } /*==============================================*/

} 

/* Creates a Colour Class for Dropdown-Menus to use */
.dd-web-design {background-color: rgb(111, 57, 139);}
.dd-it-support {background-color: rgb(50, 99, 167);}
.dd-telecoms-services {background-color: rgb(170, 42, 38);}
.dd-bespoke-software {background-color: rgb(64, 89, 119);}
.dd-digital-marketing {background-color: rgb(1, 117, 69);}
.dd-cyber-security {background-color: rgb(196, 25, 62);}

.code { /* Gives Icons a Colour and Changes there Colour on Hover Events */
    i {
        color: #986DAF;
    }
    &:hover{
        i {color:white;}
        background-color:#986DAF;
    }
}

.desktop {
    i {
        color: #427fd3;
    }
    &:hover{
        i {color:white;}
        background-color:#427fd3;
    }
}

.phone {
    i {
        color: #DF4A45;
        transform: rotate(-45deg);
    }
    &:hover{
        i {color:white;}
        background-color:#DF4A45;
    }
}

.keypad {
    i {
        color: #667F9D;
    }
    &:hover{
        i {color:white;}
        background-color:#667F9D;
    }
}

.signal {
    i {
        color: #00CD76;
    }
    &:hover{
        i {color:white;}
        background-color:#00CD76;
    }
}

.shield {

    i {
        color: #FF2E5B;
    }
    &:hover{
        i {color:white;}
        background-color:#FF2E5B;
    }
}

.dropdown { /* Tells Child Element to NOT create new Resources, Use Current Resources */
    position: relative;
    display: contents;
  }
  
  .dropdown-content { /* Creates a Style for Dropdown-Menus & Hides Itself */
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 12px;
    width: 100%;
    top: 20%;
    left: 0;
    li:before { /* Before Dropdowns are Generated, In Container create the symbol - */
        content: "-";
    }
    li {
        border: none;
    }

  }
  
  .dropdown:hover .dropdown-content { /* Hover Event: Reveal Itself */
    display: block;
  }
  /*=============================================================================*/
  /*=============================================================================*/


  /*=============================================================================*/
  /* Slideshow Area
  /*=============================================================================*/

.sls-container { /* Holds together all Slideshow Elements + Applies Image as Background */
    display: flex; 
    height: 730px;
    background: url(../img/slideshow1.jpeg) no-repeat center / cover;
    margin-bottom: 2%;
}

.content-container { /* Holds together all Content Elements in a Column */
    margin: 30px; 
    font-size: x-large;
    display: flex;
    flex-direction: column;
    z-index: 2;
    button { /* Creates a Style to Button */
        width: 200px; 
        height: 50px;
        background: #986DAF;
        font-size: 15px;;
        &:hover{ /* Hover Event: Change Buttons Colour */
            background-color: rgb(102, 70, 119);
        }
    }
    i {
        margin-left: 18px;
    }
}
  /*=============================================================================*/
  /*=============================================================================*/


  /*=============================================================================*/
  /* Gallary Area
  /*=============================================================================*/

  .subject-container { /* Holds together all Subject Elements */
    display: flex; 
    padding: 0.5%;
    i { /* Creates a Style to Icons */
        background: grey; 
        padding: 20px;
        border-radius: 50%;
    }
    h2 { /* Creates a Style to h2 Text */
        color:black;
    }
    p { /* Creates a Style to Paragraphs */
        color:black;
    }
    button { /* Creates a Style to Button */
        width: 50%;
        height: 35px;
        font-size: 16px;
    }
    hr { /* Creates a Style to HR (Underlines) */
        border: 2px solid black;
        width: 30px;
    }
    .id-bs{ /* Provides Colour to Icon + Button */
        i {background-color: #667F9D;}
        button {background-color: #667F9D;}
        &:hover { /* Hover Event: Changes Icon, Title, Text and Button Colour */
            background-color: #667F9D;
            cursor: pointer;
            h2, p {color:white;}
            hr {border: 2px solid white;}
            button {background-color: white; color: #667F9D;}
            i {background-color: white; color: #667F9D;}
        }
    }
    .id-is{
        i {background-color: #427FD3;}
        &:hover {
            background-color: #427FD3;
            cursor: pointer;
            h2, p {color:white;}
            hr {border: 2px solid white;}
            button {background-color: white; color: #427FD3;}
            i {background-color: white; color: #427FD3;}
        }
    }
    .id-dm{
        i {background-color: #00CD76;}
        button {background-color:#00CD76}
        &:hover {
            background-color: #00CD76;
            cursor: pointer;
            h2, p {color:white;}
            hr {border: 2px solid white;}
            button {background-color: white; color: #00CD76;}
            i {background-color: white; color: #00CD76;}
        }
    }
    .id-ts{
        i {background-color: #DF4A45; transform: rotate(-45deg)}
        button {background-color: #DF4A45}
        &:hover {
            background-color: #DF4A45;
            cursor: pointer;
            h2, p {color:white;}
            hr {border: 2px solid white;}
            button {background-color: white; color: #DF4A45;}
            i {background-color: white; color: #DF4A45;}
        }
    }
    .id-wd{
        i {background-color: #986DAF;}
        button {background-color: #986DAF}
        &:hover {
            background-color: #986DAF;
            cursor: pointer;
            h2, p {color:white;}
            hr {border: 2px solid white;}
            button {background-color: white; color: #986DAF;}
            i {background-color: white; color: #986DAF;}
        }
    }
    .id-cs{
        i {background-color: #FF2E5B;}
        button {background-color: #FF2E5B;}
        &:hover {
            background-color: #FF2E5B;
            cursor: pointer;
            h2, p {color:white;}
            hr {border: 2px solid white;}
            button {background-color: white; color: #FF2E5B;}
            i {background-color: white; color: #FF2E5B;}
        }
    }
  }

  .sb-container{ /* Holds together all Elements + Applies Style to them*/
    margin: 15px 15px;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 0px 43px -1px rgba(0,0,0,0.4);
    border-radius: 3px;
    border-style: groove;
    border-width: 2px;
  }

  .row1 { /* Creates a Container that holds data in a row only */
    display: flex;
    flex-direction: row;
  }

  .row2 { /* Creates a Container that holds data in a row only */
    display: flex;
    flex-direction: row;
  }
  /*=============================================================================*/
  /*=============================================================================*/


  /*=============================================================================*/
  /* Banner Area
  /*=============================================================================*/

  .banner-container {
      display:flex;
      height: auto;
      background: url(../img/banner.png) no-repeat center / cover;
      background-color: #333544;
      .content-container {
        font-size: medium;
        width:40%;
        button {
            color:black;
            background-color:white;
            width: 30%;
            &:hover{
                background-color: gainsboro;
            }
        }
        i {
            color:black;
        }
      }
  }

  /*=============================================================================*/

  /*============================== Latest Area ==================================*/
  
  .latest-container {
      display: flex;
      flex-direction: row;
      background-image: linear-gradient(180deg, rgba(208,206,206,1) 0%, rgba(255, 255, 255,1) 34%);
      padding: 2% 0%;
  }

  .latest-content {
    display: flex;
    flex-direction: column;
    width: 29%;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
      a, hr, b {color: black;}
  }

  .latest-img {
      overflow:hidden;
      background:white;
      direction: rtl;
      img {
        width:100%;
        transition: transform .5s ease, opacity .5s ease;
        border-radius: 3px;
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
            opacity: 0.7;
        }
      }
      p {
        position: absolute;
        width: 45px;
        height: 20px;
        font-size: smaller;
        text-align: center;
        &:hover {
            cursor: pointer;
            text-decoration: underline
        }
      }
  }

  .details-container {
      padding: 20px;
      border: groove;
      border-top: none;
      p {color:black;}
      hr {margin-top: 20px;margin-bottom: 20px;}
      button {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 40%;
        height: 45px;
        font-size: inherit;
      }
      a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
      }
      .dd-bespoke-software:hover {background-color: rgb(43, 65, 92);}
      .dd-it-support:hover {background-color: rgb(40, 82, 141);}
      .dd-web-design:hover {background-color: rgb(96, 41, 124);}
  }

  .posted-container {
      display: flex;
      img {width: 50px;height: 50px;border-radius: 40px;padding: 10px;}
      p {margin-left: 20px;}
  }

  .underline-b {
    width: fit-content;
    margin-left: 5%;
    hr {
      border: solid;
    }
  }

  /*=============================================================================*/

  /*============================== Client Area ==================================*/

  .client-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: linear-gradient(180deg, rgba(208,206,206,1) 0%, rgba(255, 255, 255,1) 34%);
    max-height: 500px;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .busseys {
    width: 188px;height: 70px;
    background: url(../img/clients/busseys_original.jpg) no-repeat;
  }

  .crane {
    width: 287px;height: 70px;
    background: url(../img/clients/crane_original.jpg) no-repeat;
  }

  .beat {
    width: 72px;height:70px;
    background: url(../img/clients/beat_original.jpg) no-repeat;
  }

  .northern {
    width: 322px;height:70px;
    background: url(../img/clients/northern_original.jpg) no-repeat;
  }

 .busseys:hover {background: url("../img/clients/busseys_new.png") no-repeat;}
 .crane:hover {background: url("../img/clients/crane_new.png") no-repeat;}
 .beat:hover {background: url("../img/clients/beat_new.png") no-repeat;}
 .northern:hover {background: url("../img/clients/northern_new.png") no-repeat;}

 .tooltip {
    position: relative;
    display: flex;
    justify-content: space-around;
    span {
        width: 260px;
    }
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: #333544;
    color: #fff;
    text-align: center;
    padding: 8%;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    font-size: small;
    hr {
        border: 2px solid white;
        width: 30px;
    }
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

   /*=============================================================================*/

  /*=============================== Footer Area ==================================*/

  .footer-container {
    display: flex;
    flex-direction: row;
    background-color: #333544;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .col-1, .col-2, .col-3, .col-4 {
    a {
        text-decoration: none;
        &:hover {text-decoration: underline;}
      }
    li {list-style-type: none;}
    ul {padding: 0;font-size: 15px;}
  }

  .col-4 button {
    width: 145px;
    height: 65px;
    margin: 10px 10px 10px 0;
    background-color: #252731;
  }

  .col-4 {
      max-width: 320px;
      i {font-size: xx-large;}
  }

  .facebook:hover {background-color: #3b5998;}
  .twitter:hover {background-color: #00acee;}
  .in:hover {background-color: #0e76a8;}

  /*==============================================================================*/

  /*============================ Sub-Client Area =================================*/

  .google {
    width: 220px;height: 70px;
    background: url(../img/clients/google_original.jpg) no-repeat;
  }

  .smp {
    width: 115px;height: 70px;
    background: url(../img/clients/smp_original.jpg) no-repeat;
  }

  .future50 {
    width: 44px;height:70px;
    background: url(../img/clients/future50_original.jpg) no-repeat;
  }

  .qms {
    width: 60px;height:70px;
    background: url(../img/clients/qms_original.jpg) no-repeat;
  }

  .carbon {
    width: 175px;height:70px;
    background: url(../img/clients/carbon_original.jpg) no-repeat;
  }

 .future50:hover {background: url("../img/clients/future50_new.jpg") no-repeat;}
 .qms:hover {background: url("../img/clients/qms_new.jpg") no-repeat;}
 .carbon:hover {background: url("../img/clients/carbon_new.jpg") no-repeat;}

   /*==============================================================================*/

   /*=========================== Query Function ===================================*/

  @media screen and (max-width: 1440px) {
    .dropdown-content {
        top: 20%;
    } 
  }

   @media screen and (max-width: 1024px) {
    input {display: none;}
    .dropdown-content {
        font-size: 9px;
        top: 22%;
    }
    .subject-container {
        button {
         height: 47px;
         width: 130px;
        }
    }
    .row1 {font-size: small;}
    .row2 {
        flex-wrap: wrap;
        .sb-container {
            max-width: 40%;
            margin-left: auto;
            margin-right: auto;
            font-size: small;
        }
    }
    .banner-container {
        .content-container {
            font-size: larger;
            width: 90%;
            button {
                width: 18%;
                font-size: large;
            }
        }
    }
    .last-news {display: none;}
    .latest-img {p {margin-left: 382px;}}
    .latest-content {width: 42%;}
    .tooltip {
        span {width: 160px;}
      }
    .footer-container {
        flex-wrap: wrap;
        justify-content: end;
        .col-1, .col-2, .col-3, .col-4 {
            width: 400px;
            margin: 0px 45px;
        }
        .col-4 {
            button {
                height: 40px;
                width: 148px;
                i {font-size: large;}
            }
        }
    }
   }

   @media screen and (max-width: 985px) {
        input {display: block;}
        nav {display: none;}
        .h-container {
            .r-container {
                form {
                    margin: 0px;
                    border-left: solid;
                }
            }
        }
       .btn-support {display: none;}
       .btn-contact {display: none;}
       .content-container {
           margin: auto;
           text-align: center;
           button {
               margin: 0px auto;
           }
       }
       .subject-container {
           margin: 0px auto;
           .row1 {display: block;}
       }
       .banner-container {
           background-image: none;
        .content-container {
            font-size: larger;
            width: 90%;
            text-align: left;
            button {
                width: 20%;
                margin: 0px;
                }
            }
        }
        .footer-container {
            height: 600px;
            font-size: xx-large;
            .col-4 {
                button {
                    height: 60px;
                    width: 145px;
                    i {font-size: xx-large;}
                }
            }
        }
    }

   @media screen and (max-width: 768px) {
    input {display: none;}
    .banner-container {
        .content-container {
            button {width: 24%; margin-bottom: 20px;}
        }
    }
    .client-container {
        .busseys, .crane, .northern {
            background-size: 140px;
            background-position: center;
            margin: 10px;
        }
    }
    .client-container {
        .beat {
            background-size: 55px;
            background-position: center;
            margin: 10px;
        }
    }
    .footer-container {
        .col-1, .col-2, .col-3, .col-4 {
            width: auto;
        }
    }
   }

   @media screen and (max-width: 425px) {
    .last-news {display: flex;}
    .client-container {display: none;}
    .btn-search {
        position: absolute;
        margin-left: 88%;
        margin-top: 1%;
        max-width: 10%;
        height: 5%;
        i {
            color: black;
        }
    }
    .r-container {
        align-items: flex-end;
        flex-direction: column-reverse;
        .btn-menu {
            margin-left: auto;
            margin-right: 10px;
            margin-bottom: 10px;
            width: 14%;
            height: 55px;
        }
        form {.btn-search {background-color: #E5E5E5;} }
    }
    header {
        img {
            position: absolute;
            width: 60%;
            padding: 10px;
        }
    }
    input {
        display: block;
        box-sizing: border-box;
        width: 425px;
        height: 50px;
        padding: 10px;
        font-size: medium;
        background-color: #E5E5E5;
        border: groove;
    }
    .row2 {
        display: block;
        .sb-container {
            max-width: 77%;
        }
    }
    .banner-container {
        .content-container {
            button {width: 42%;}
        }
    }
    .latest-container{
        flex-direction: column;
        .latest-content {
            width: 90%;
            margin-top: 5%;
            margin-bottom: 5%;
        }
    }
    .footer-container {
        height: auto;
        font-size: unset;
        .col-4 {
            button {height: 50px;}
            i {font-size: x-large;}
        }
    }
   }

   @media screen and (max-width: 375px) {
       header {
           img {padding-left: 50px;}
       }
       input {width: 356px;}
       .btn-search {margin-left: 82%;}
       .banner-container {
           .content-container {
               button {width: 48%;}
           }
       }
       .footer-container {.col-4 {button {i {font-size: x-large;} width: 9.0625em;}}}
   }

   @media screen and (max-width: 320px) {
       input {width: 19em;}
       header img {
        padding-left: 10px;
    }
       .r-container .btn-menu {
            width: 19%;
        }
        .row2 {.sb-container {max-width: 70%;}}
        .banner-container {.content-container {button {width: 58%;}}}
        .footer-container {.col-4 {button {width: 7.7025em}}}
   }