  /*=============================================================================*/
  /* Banner Area
  /*=============================================================================*/

  .banner-container { /* Holds together all Banner Elements */
    display:flex;
    height: auto;
    background: url(../img/banner.png) no-repeat center / cover;
    background-color:var(--banner-background);
    background-color:#333544;
    .content-container { /* Holds together all Content inside Banner Elements */
      font-size: medium;
      width:40%;
      button { /* Creates a Style to Button */
          color:#000000;
          background-color:var(--white-color);
          background-color:#fff;
          width: 30%;
          margin: 5% 0px;
          &:hover{ /* Hover Event: Changes Button Colour */
              background-color:var(--banner-btn);
              background-color:#dcdcdc;
          }
      }
      i {
          color:var(--black-color);
          color:#000;
      }
    }
}
/*=============================================================================*/
/*=============================================================================*/