  /*=============================================================================*/
  /* Gallary Area
  /*=============================================================================*/

  .subject-container { /* Holds together all Gallary Elements */
    display: flex; 
    padding: 0.5%;
    font-size: smaller;
    i { /* Creates a Style to Icons */
        background: #999aa2; 
        padding: 20px;
        border-radius: 50%;
    }
    h2 { /* Creates a Style to h2 Text */
        color:#000000;
    }
    p { /* Creates a Style to Paragraphs */
        color:#000000;
    }
    button { /* Creates a Style to Button */
        padding: 4%;
        font-size: 16px;
    }
    hr { /* Creates a Style to HR (Underlines) */
        border: 2px solid #000000;
        width: 30px;
    }
    .id-bs{ /* Provides Colour to Icon + Button */
        i {background-color: var(--grey-color);background-color:#667F9D;}
        button {background-color: var(--grey-color);background-color:#667F9D;}
        &:hover { /* Hover Event: Changes Icon, Title, Text and Button Colour */
            background-color: var(--grey-color);
            background-color:#667F9D; /* A Fallback Program if the variable Function doesn't work */
            cursor: pointer;
            h2, p {color:var(--white-color);color:#fff;}
            hr {border: 2px solid var(--white-color);border: 2px solid #fff;}
            button {background-color: var(--white-color);background-color:#fff; color: var(--grey-color);color:#667F9D;}
            i {background-color: var(--white-color);background-color:#fff;color: var(--grey-color);color:#667F9D;}
        }
    }
    .id-is{
        i {background-color: var(--blue-color);background-color:#427fd3;;}
        &:hover {
            background-color: var(--blue-color);
            background-color:#427fd3;
            cursor: pointer;
            h2, p {color:var(--white-color);color:#fff;}
            hr {border: 2px solid var(--white-color);border: 2px solid #fff;}
            button {background-color: var(--white-color);background-color:#fff; color: var(--blue-color);color:#427fd3;}
            i {background-color: var(--white-color);background-color:#fff; color: var(--blue-color);color: #427fd3;}
        }
    }
    .id-dm{
        i {background-color: var(--green-color);background-color:#00CD76;}
        button {background-color:var(--green-color);background-color:#00CD76;}
        &:hover {
            background-color: var(--green-color);
            background-color:#00CD76;
            cursor: pointer;
            h2, p {color:var(--white-color);color:#fff;}
            hr {border: 2px solid var(--white-color);border: 2px solid #fff;}
            button {background-color: var(--white-color);background-color:#fff; color: var(--green-color);color:#00CD76;}
            i {background-color: var(--white-color);background-color:#fff; color: var(--green-color);color:#00CD76;}
        }
    }
    .id-ts{
        i {background-color: var(--red-color);background-color:#DF4A45; transform: rotate(-45deg)}
        button {background-color: var(--red-color);background-color:#DF4A45;}
        &:hover {
            background-color: var(--red-color);
            background-color:#DF4A45;
            cursor: pointer;
            h2, p {color:var(--white-color);color:#fff;}
            hr {border: 2px solid var(--white-color);border: 2px solid #fff;}
            button {background-color: var(--white-color);background-color:#fff; color: var(--red-color);color:#DF4A45;}
            i {background-color: var(--white-color);background-color:#fff; color: var(--red-color);color:#DF4A45;}
        }
    }
    .id-wd{
        i {background-color: var(--purple-color);background-color:#926fb1;}
        button {background-color: var(--purple-color);background-color:#926fb1;}
        &:hover {
            background-color: var(--purple-color);
            background-color:#926fb1;
            cursor: pointer;
            h2, p {color:var(--white-color);color:#fff;}
            hr {border: 2px solid var(--white-color);border: 2px solid #fff;}
            button {background-color: var(--white-color);background-color:#fff; color: var(--purple-color);color:#926fb1;}
            i {background-color: var(--white-color);background-color:#fff; color: var(--purple-color);color:#926fb1;}
        }
    }
    .id-cs{
        i {background-color: var(--darkred-color);background-color:#FF2E5B;}
        button {background-color: var(--darkred-color);background-color:#FF2E5B;}
        &:hover {
            background-color: var(--darkred-color);
            background-color: #FF2E5B;
            cursor: pointer;
            h2, p {color:var(--white-color);color:#fff;}
            hr {border: 2px solid var(--white-color);border: 2px solid #fff}
            button {background-color: var(--white-color);background-color:#fff; color: var(--darkred-color);color:#FF2E5B;}
            i {background-color: var(--white-color);background-color:#fff; color: var(--darkred-color);color:#FF2E5B;}
        }
    }
  }

    /* Creates a Colour Class for Gallery to use */
  .dd-web-design {background-color: var(--purple-hover);background-color:#79539a;}
  .dd-it-support {background-color: var(--blue-hover);background-color:#286abd;}
  .dd-telecoms-services {background-color: var(--red-hover);background-color:#de093f;}
  .dd-bespoke-software {background-color: var(--grey-hover);background-color:#526781;}
  .dd-digital-marketing {background-color: var(--green-hover);background-color:#25a25a;}
  .dd-cyber-security {background-color: var(--darkred-hover);background-color:#de093f;}

  .sb-container{ /* Holds together all Elements + Applies Style to them*/
    margin: 15px 15px;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 0px 43px -1px #00000066;
    border-radius: 3px;
    border-style: groove;
    border-width: 2px;
  }

  .row1 { /* Creates a Container that holds data in a row only */
    display: flex;
    flex-direction: row;
  }

  .row2 { /* Creates a Container that holds data in a row only */
    display: flex;
    flex-direction: row;
  }
  /*=============================================================================*/
  /*=============================================================================*/