  /*=============================================================================*/
  /* Slideshow Area
  /*=============================================================================*/

  .sls-container { /* Holds together all Slideshow Elements + Applies Image as Background */
    display: flex; 
    height: 730px;
    background: url(../img/slideshow1.png) no-repeat center / cover;
    margin-bottom: 2%;
}

.content-container { /* Holds together all Content Elements in a Column */
    margin: 30px;
    align-self: center;  
    font-size: x-large;
    display: flex;
    flex-direction: column;
    z-index: 2;
    button { /* Creates a Style to Button */
        width: 200px; 
        height: 50px;
        background: var(--purple-color);
        background-color: #926fb1; /* A Fallback Program if the variable Function doesn't work */
        font-size: 15px;
        margin-top: 25px;
        &:hover{ /* Hover Event: Change Buttons Colour */
            background-color:var(--purple-hover);
            background-color: #79539a;
        }
    }
    i {margin-left: 18px;}
    h1, p {margin: 10px 0px;}
}
  /*=============================================================================*/
  /*=============================================================================*/