:root {
    /*============================= Global Colours ================================*/
    --white-color: #fff;
    --black-color: #000;
    --purple-color: #926fb1;
    --purple-hover: #79539a;
    --blue-color: #427fd3;
    --blue-hover: #286abd;
    --red-color: #DF4A45;
    --red-hover: #de093f;
    --grey-color: #667F9D;
    --grey-hover: #526781;
    --green-color: #00CD76;
    --green-hover: #25a25a;
    --darkred-color: #FF2E5B;
    --darkred-hover: #de093f;
    /*=============================================================================*/

    /*============================= Header Colours ================================*/
    --support-btn-color: #427fd3;
    --support-btn-hover: #1d63c5;
    --search-btn-color: #999aa2;
    --search-btn-hover: #717277;
    --menu-btn-color: #333544;
    --menu-btn-hover: #262730;
    /*=============================================================================*/

    /*========================== Navigational Colours =============================*/
    --nav-background: #333544;
    --nav-border-left: #ffffff1a;
    --nav-border-right: #00000040;
    /*=============================================================================*/

    /*============================== Banner Colours ===============================*/
    --banner-background: #333544;
    --banner-btn: #dcdcdc;
    /*=============================================================================*/

    /*============================== Footer Colours ===============================*/
    --facebook-color: #3b5998;
    --twitter-color: #00acee;
    --in-color: #0e76a8;
    /*=============================================================================*/
}